# site properties and page defaults
title: Yoo Group
subtitle: Synthetic Organic Chemistry Research @ National Taiwan University
description: Synthetic organic chemistry is a fundamental science that provides society the means to transform simple raw materials into complex molecules with a wide array of functional properties. As society evolves and its needs change, chemist must develop new synthetic methodologies that enables the preparation of complex molecules that meets the demands of tomorrow.
header: images/background.jpg
footer: images/background.jpg
proofer: false

# site social media and other links
links:
  email: woojinyoo@ntu.edu.tw
  orcid: 0000-0002-1207-9399


### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
